.App-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)), url('../assets/Mask\ Group\ 4.png');
    height: 140px;
}

.headerContent {
    position: absolute;
    padding-top: 19px;
    padding-left: 25px;
    width: 375px;
}

.headerSpan {
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 28px;
    font-family: "Roboto, Helvetica, sans-serif";
    font-weight: inherit;
}

.highlight {
    color: #00ffe2;
}
