.App-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fafafa;
}

.navSelector {
    text-decoration: none;
    padding: 15px 0px;
    margin-left: 23px;
    color: #b8b8b8;
}

.navSortor {
    padding: 15px 0px;
    margin-right: 20px
}

.selected {
    padding-bottom: 13px;
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
}