.searchBar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input {
    width: 345px;
    height: 34px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 0;
}

.searchBar input::placeholder {
    color: #e8e8e8;
    font-size: 13px;
    padding-left: 10%;
}

.searchBar button {
    position: absolute;
    right: 5%;
}

.searchIcon {
    position: absolute;
    left: 5%;
}