.ToDoItemContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #e8e8e8;
}

.ToDoChecker {
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToDoCheckIcon {
    padding-top: 5px;
}

.ToDoWhat {
    font-size: 16px;
}

.ToDoDate {
    font-size: 13px;
    color: #fd9a9a;
}


.checked .ToDoWhat, .checked .ToDoDate  {
    color: #e8e8e8;
    text-decoration-line: line-through;
}

.checked .ToDoChecker {
    background-color: #00ffe2;
    border-color: #00ffe2;
}

.ToDoRemover {
    margin-right: 22px;
    width: 14px;
    height: 20px;
    mask-image: url('../assets/remove_btn.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #fd9a9a;
}