.todo-input{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }

    .search-icon {
        position: relative;
        left: 25px;
    }

    input {
        flex: 1;
        width: 345px;
        height: 35px;
        font-size: 1rem;
        outline: none;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding-left: 40px;
        &::placeholder {
            color: #d8d8d8;
            font-size: 1rem;
        }
    }

    .reset-button {
        position: relative;
        height: 15px;
        right: 25px;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
    }


}